asciitree==0.3.3
astroid==3.3.8
black==24.10.0
bytecode==0.16.1
click==8.1.8
docstring-parser==0.16
exceptiongroup==1.2.2
iniconfig==2.0.0
jellyfish==1.1.3
jinja2==3.1.6
libcst==1.6.0
markdown-it-py==3.0.0
markupsafe==3.0.2
mdurl==0.1.2
mypy-extensions==1.0.0
networkx==3.4.2
packaging==24.2
pathspec==0.12.1
pip==25.0.1
platformdirs==4.3.6
pluggy==1.5.0
pyenergibridge @ git+https://github.com/luiscruz/pyEnergiBridge@94b19f734dcb2b5186900f3eab8e8077d53a70ff
pygments==2.19.1
pynguin==0.40.0
pytest==8.3.5
pyyaml==6.0.2
rich==13.9.4
setuptools==75.8.2
simple-parsing==0.1.7
tomli==2.2.1
typing-extensions==4.12.2
typing-inspect==0.9.0
wheel==0.45.1
